@import url("./fonts.css");

:root {
  --font-sans: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
    "Helvetica Neue", sans-serif;
  --font-sans-var: "Roboto Flex Variable", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  --font-mono: monospace;
  --content-width: 1400px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: var(--font-sans);
}

@supports (font-variation-settings: normal) {
  body {
    font-family: var(--font-sans-var);
  }
}

body > * {
  width: 100%;
}

.header-wrapper,
.main-wrapper,
.footer-wrapper {
  max-width: var(--content-width);
  margin: 0 auto;
  padding: 1.5rem 1rem;
}

header {
  background-color: #24273a;
}

nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.links {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.links a {
  font-size: 20px;
  color: #cad3f5;
  text-decoration: none;
}

footer {
  text-align: center;
}

/* Logo */
#logo {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  column-gap: 16px;
  text-decoration: none;
}

#logo .icon {
  width: 42px;
  height: 42px;
}

#logo .icon img {
  width: 42px;
  height: 42px;
}

#logo .logo-text {
  color: #cad3f5;
  font-size: 32px;
}

.content-wrapper {
  display: block;
}

.information {
  margin: 2rem auto;
}

.preview-wrapper {
  display: flex;
  flex-direction: column;
}

#actions {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 8px;
  width: 100%;
  margin-bottom: 0.5rem;
}

#actions .form-field {
  margin-bottom: 0;
}

#actions .form-field > * {
  display: inline-block;
}

#actions .form-field > .label {
  margin-bottom: 0;
}

/* Form styles */
#input-form {
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
}

#input-form fieldset {
  width: 100%;
  border: 1px solid #888;
}

#input-form .radio-group {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  column-gap: 16px;
}

.form-field {
  margin-bottom: 0.5rem;
}

.form-field.radio {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 4px;
}

.form-field > * {
  display: block;
}

.form-field label {
  margin-bottom: 2px;
}

input,
select {
  font-family: inherit;
}

option {
  font-family: inherit;
}

form input[type="number"] {
  width: 100px;
}

form .operands {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 2rem;
}

form .operands .operand-label {
  margin-bottom: 0.5rem;
}

form .seed-field {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  column-gap: 1rem;
}

form .form-actions {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end;
  gap: 0.5rem;
}

/* The generated "page" */
#pages {
  font-size: 0.85rem;
}

#page-wrapper {
  max-height: 400px;
  overflow: auto;
}

#page {
  margin: 8px auto;
  padding: 1rem;
}

#page-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 16px;
  margin-bottom: 2rem;
  font-family: var(--font-sans-var);
  font-size: 18px;
  letter-spacing: 2px;
}

.line-bottom {
  display: inline-block;
  border-bottom: 1px solid black;
  width: 160px;
}

.math-grid {
  /* grid calculations from https://css-tricks.com/an-auto-filling-css-grid-with-max-columns/ */
  --grid-layout-gap: 16px;
  --grid-column-count: 5;
  --grid-item--min-width: 120px;

  --gap-count: calc(var(--grid-column-count) - 1);
  --total-gap-width: calc(var(--gap-count) * var(--grid-layout-gap));
  --grid-item--max-width: calc((100% - var(--total-gap-width)) / var(--grid-column-count));

  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(max(var(--grid-item--min-width), var(--grid-item--max-width)), 1fr));
  gap: var(--grid-layout-gap);

  margin: 1rem 0;
  padding-bottom: 1rem;
}

.math-grid > div {
  display: flex;
  justify-content: flex-end;
  padding-right: 25%;
}

.math-grid > div > div {
  display: flex;
  flex-direction: column;
}

#page-footer {
  text-align: left;
  font-size: 12px;
  width: 100%;
}

pre {
  display: inline-block;
  margin: 0;

  font-size: 16px;
  letter-spacing: 0.125em;
  font-variant-numeric: tabular-nums;
  text-align: right;
  font-family: var(--font-mono);
  line-height: 1.25em;
}

button {
  background-color: #24273a;
  color: #cad3f5;
  /* margin: 8px 0; */
  padding: 8px 16px;
  border: 1px solid #494d64;
  border-radius: 6px;
  font-family: inherit;
  text-align: center;
  font-size: 1rem;
  cursor: pointer;
}

button.secondary {
  background-color: #b8c0e0;
  color: #24273a;
  border: 1px solid #939ab7;
}

button.disabled {
  background-color: #6e738d;
  color: #b8c0e0;
  cursor: not-allowed;
}

input:disabled {
  cursor: not-allowed;
}

.generate-pdf {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  column-gap: 1rem;
  margin-bottom: 1rem;
}

.hidden {
  visibility: hidden;
}

.d-none {
  display: none;
}

.underline {
  border-bottom: 1px solid black;
  display: inline-block;
  width: 200px;
}

@media (min-width: 1024px) {
  .content-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 2rem;
  }

  #page-wrapper {
    max-height: none;
    flex: 1 1 0;
  }
}

/* @media print {
  header,
  h1,
  h2,
  p,
  #input-form,
  #actions {
    display: none;
  }

  #page-wrapper {
    display: block;
    overflow: initial;
  }

  #page {
    width: unset;
    height: unset;
    margin: 0;
    padding: 0;
    border: none;
  }

  .page-break {
    page-break-after: always;
  }

  .page-footer {
    position: fixed;
    bottom: 0;
  }

  @page {
    margin-top: 64px;
  }

  @page :first {
    margin-top: 16px;
  }
} */
