@import url("./fonts.css");

:root {
  --font-sans: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
    "Helvetica Neue", sans-serif;
  --font-sans-var: "Roboto Flex Variable", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  --font-mono: monospace;
  --content-width: 1400px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  font-family: var(--font-sans);
}

@supports (font-variation-settings: normal) {
  body {
    font-family: var(--font-sans-var);
  }
}

body > * {
  width: 100%;
}

nav,
main > * {
  max-width: var(--content-width);
  margin: 0 auto;
}

header {
  background-color: #24273a;
}

nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

/* Logo */
#logo {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  column-gap: 16px;
  background-color: #24273a;
  padding: 16px;
}

#logo .icon {
  width: 42px;
  height: 42px;
}

#logo .icon img {
  width: 42px;
  height: 42px;
}

#logo .logo-text {
  color: #cad3f5;
  font-size: 32px;
}

.content-wrapper {
  display: block;
}

.information {
  margin: 2rem auto;
}

.form-wrapper {
}

.preview-wrapper {
}

#actions {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  align-items: stretch;
  row-gap: 8px;
  width: 100%;
}

#actions > div:first-child {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  column-gap: 8px;
}

#actions > div:nth-child(2) {
  text-align: center;
}

/* Form styles */
#input-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 0.5rem;
}

#input-form fieldset {
  width: 100%;
}

#input-form .radio-group {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  column-gap: 16px;
}

.form-field {
  margin-bottom: 0.5rem;
}

.form-field.radio {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 4px;
}

.form-field > * {
  display: block;
}

.form-field label {
  margin-bottom: 2px;
}

input,
select {
  font-family: inherit;
}

option {
  font-family: inherit;
}

form input[type="number"] {
  width: 100px;
}

/* The generated "page" */
#page-wrapper {
  max-height: 12in;
  width: 100%;
  overflow: auto;
}

#page {
  /* width: 8.5in;
    height: 11in; */
  margin: 8px auto;
  padding: 1rem;
  border: 1px solid #888;
}

#page-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 16px;
  margin-bottom: 2rem;
  font-family: var(--font-mono);
  font-size: 20px;
  letter-spacing: 2px;
}

.math-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
  row-gap: 2rem;
  margin: 1rem 0;
}

.math-grid > div {
  display: flex;
  justify-content: flex-end;
  padding-right: 25%;
}

.math-grid > div > div {
  display: flex;
  flex-direction: column;
}

.page-footer {
  text-align: center;
  font-size: 12px;
  width: 100%;
}

pre {
  display: inline-block;
  margin: 0;

  font-size: 20px;
  letter-spacing: 0.125em;
  font-variant-numeric: tabular-nums;
  text-align: right;
  font-family: var(--font-mono);
  line-height: 1.25em;
}

button {
  background-color: #24273a;
  color: #cad3f5;
  margin: 8px 0;
  padding: 8px 16px;
  border: none;
  border-radius: 6px;
  font-family: inherit;
  text-align: center;
  font-size: 1.125rem;
}

.hidden {
  visibility: hidden;
}

.d-none {
  display: none;
}

.underline {
  border-bottom: 1px solid black;
  display: inline-block;
  width: 200px;
}

@media (min-width: 1024px) {
  .content-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 1rem;
  }
}

@media print {
  header,
  h1,
  h2,
  p,
  #input-form,
  #actions {
    display: none;
  }

  #page-wrapper {
    display: block;
    overflow: initial;
  }

  #page {
    width: unset;
    height: unset;
    margin: 0;
    padding: 0;
    border: none;
  }

  .page-break {
    page-break-after: always;
  }

  .page-footer {
    position: fixed;
    bottom: 0;
  }

  @page {
    margin-top: 64px;
  }

  @page :first {
    margin-top: 16px;
  }
}
