:root {
  --spacing: 12px;
  --font-monospace: monospace;
}

*,
::before,
::after {
  box-sizing: inherit;
}
html {
  height: 100%;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background-color: #008080;
  /* background-image: url(/tiles/houndstooth.png); */
  background-repeat: repeat;
}

ul {
  padding-left: 20px;
}

.container {
  max-width: 1000px;
  display: flex;
  flex-direction: column;
  gap: var(--spacing);
  margin: var(--spacing);
}

.main-wrapper {
  display: flex;
  flex-direction: column;
  gap: var(--spacing);
}

.window {
  display: flex;
  flex-direction: column;
}

form {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
}

.operands-fields {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  column-gap: 16px;
}

.operands-fields fieldset {
  flex-grow: 1;
}

.window-body.spaced {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  row-gap: 8px;
}

.window-actions {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.text-area {
  background: #fff;
  box-shadow:
    inset -1px -1px #fff,
    inset 1px 1px grey,
    inset -2px -2px #dfdfdf,
    inset 2px 2px #0a0a0a;
  display: block;
  margin: 0;
  padding: 6px;
  overflow: auto;

  min-height: 160px;
  max-height: 320px;
}

.text-area pre {
  display: inline-block;
  margin: 0;

  letter-spacing: 2px;
  font-variant-numeric: tabular-nums; /* does this do anything? */
  text-align: right;
  font-family: var(--font-monospace);
  font-size: 14px;
  line-height: 20px;

  /* override 98.css rules */
  background: inherit;
  box-shadow: none;
  padding: 0;
}

#page-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 16px;
  margin-bottom: 2rem;
  font-family: var(--font-monospace);
  font-size: 16px;
  letter-spacing: 2px;
}

.math-grid {
  /* grid calculations from https://css-tricks.com/an-auto-filling-css-grid-with-max-columns/ */
  --grid-layout-gap: 16px;
  --grid-column-count: 5;
  --grid-item--min-width: 100px;

  --gap-count: calc(var(--grid-column-count) - 1);
  --total-gap-width: calc(var(--gap-count) * var(--grid-layout-gap));
  --grid-item--max-width: calc((100% - var(--total-gap-width)) / var(--grid-column-count));

  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(max(var(--grid-item--min-width), var(--grid-item--max-width)), 1fr));
  gap: var(--grid-layout-gap);

  margin: 1rem 0;
  padding-bottom: 1rem;
}

.math-grid > div {
  display: flex;
  justify-content: flex-end;
  padding-right: 25%;
}

.math-grid > div > div {
  display: flex;
  flex-direction: column;
}

#page-footer {
  text-align: left;
  width: 100%;
}

dialog {
  padding: 0;
  border: none;
}

dialog[open]::backdrop {
  background-color: rgb(0 0 0 / 40%);
}

#bg-switcher {
  margin-left: auto;
}

.d-none {
  display: none;
}

.hidden {
  visibility: hidden;
}

.line-bottom {
  display: inline-block;
  border-bottom: 1px solid black;
  width: 60px;
}

@media (min-width: 1024px) {
  .main-wrapper {
    flex-direction: row;
  }

  .text-area {
    max-height: none;
    flex: 1 1 0;
  }
}
